[submodule "nettle"]
	path = firmware/nettle
	url = https://github.com/nthdimtech/nettle.git
[submodule "crosstool-ng"]
	path = firmware/crosstool-ng
	url = https://github.com/nthdimtech/crosstool-ng.git
[submodule "signet-base"]
	path = signet-base
	url = https://github.com/nthdimtech/signet-base.git
[submodule "keepassx"]
	path = keepassx
	url = https://github.com/nthdimtech/keepassx.git
[submodule "qtcsv"]
	path = qtcsv
	url = https://github.com/iamantony/qtcsv.git
