[submodule "nettle"]
	path = firmware/nettle
	url = ../nettle.git
[submodule "crosstool-ng"]
	path = firmware/crosstool-ng
	url = ../crosstool-ng.git
[submodule "signet-base"]
	path = signet-base
	url = ../signet-base
[submodule "keepassx"]
	path = keepassx
	url = ../keepassx.git
[submodule "qtcsv"]
	path = qtcsv
	url = https://github.com/iamantony/qtcsv.git
